root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
tab_width = 2
max_line_length = 180

[*.{js,jsx***REMOVED***]
quote_type = single
semi = true
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
tab_width = 2
max_line_length = 180

[*.{ts,tsx***REMOVED***]
quote_type = single
semi = true
trailing_comma = multiline
indent_style = space
indent_size = 2
tab_width = 2
max_line_length = 180

[*.json]
indent_style = space
indent_size = 2
tab_width = 2
max_line_length = 180
insert_final_newline = true
trim_trailing_whitespace = true

[*.html]
indent_style = space
indent_size = 2
tab_width = 2
max_line_length = 180
insert_final_newline = true
trim_trailing_whitespace = true

[*.styl]
indent_style = space
indent_size = 2
tab_width = 2

[*.graphql]
indent_style = space
indent_size = 2
tab_width = 2

[*.sql]
indent_style = space
indent_size = 2
tab_width = 2
max_line_length = 180
